.search {
  width: 100%;
  padding: 70px 70px 0px 70px;
  box-sizing: border-box;
}

.search__form {
  background: #2f2f2f;
  border-radius: 9px;
  height: 72px;
  border: none;
  padding: 0 30px 0 19px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search__line {
  width: 100%;
  height: 72px;
  display: flex;
  background-color: #2f2f2f;
  border-radius: 9px;
  border: none;
  justify-content: space-between;
  padding: 0;
  margin: auto;
}

.search__magnifier {
  width: 34px;
  height: 34px;
  background-image: url(../../images/magnifier.svg);
  background-color: #2f2f2f;
  border: none;
  padding: 0;
  margin: auto;
}

.search__filter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border: none;
  margin: 0;
  padding: 0;
}

.search__checkbox-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
  margin: auto 0 auto 14px;
}

.search__vertical-line {
  width: 1px;
  height: 40px;
  background-image: url(../../images/vertical-line.svg);
  margin: auto 30px auto 29px;
}

.search__bottom-line {
  border-bottom: 1px solid #424242;
  padding: 0;
  margin: 69px 0 10px 0;
}

.search__input {
  background-color: #2f2f2f;
  border: none;
  color: #8b8b8b;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.search__submit_mobile {
  visibility: hidden;
}

.search__area {
  display: flex;
  gap: 10px;
}

.search__submit {
  width: 80px;
  height: 34px;
  background-image: url(../../images/search.svg);
  background-color: #2f2f2f;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-size: cover;
  margin: auto 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .search {
    padding: 80px 30px 0px 30px;
  }

  .search__vertical-line {
    margin: auto 19px auto 19px;
  }

  .search__bottom-line {
    margin: 109px 0 10px 0;
  }

  .search__form {
    padding: 0 20px 0 19px;
  }
}

@media screen and (max-width: 674px) {
  .search {
    padding: 80px 10px 0px 10px;
  }

  .search__form {
    flex-direction: column;
    margin: auto 0;
  }

  .search__magnifier {
    background: none;
    width: 0;
  }

  .search__input {
    width: 144px;
  }

  .search__line {
    padding: 19px 0;
    margin: 0;
  }

  .search__filter {
    padding: 45px 0 44px 0;
    justify-content: center;
  }

  .search__submit_mobile {
    visibility: visible;
    width: 80px;
    height: 34px;
    background-image: url(../../images/search.svg);
    background-color: #2f2f2f;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-size: cover;
    margin: auto 0;
    padding: 0;
  }

  .search__submit {
    width: 0;
    height: 0;
    background: none;
    margin: 0;
    padding: 0;
  }

  .search__vertical-line {
    width: 0;
    height: 0;
    background: none;
    margin: 0;
    padding: 0;
  }

  .search__area {
    gap: 0;
  }
}
@media screen and (max-width: 350px) {
  .search__form {
    max-width: 300px;
    margin: 0;
  }

  .search__line {
    width: 262px;
  }
}
