.techs__container {
  box-sizing: border-box;
  background: #272727;
  margin: 20px 0 0 184px;
  padding: 100px 0 72px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Контейнер может не совпадать с макетом, потому что он кривенький
при width:100%, чтобы растянуть блок надо добавлять overflow: hidden, чтобы убрать горизонтальный скролл */

.techs__title {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
  padding: 90px 0 0 0;
}

.techs__subtitle {
  max-width: 460px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  margin: 0;
  padding: 26px 0 0 0;
}

.techs__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 100px 0 0 0;
}

.techs__list-item {
  min-width: 90px;
  min-height: 60px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  background-color: #303030;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 950px) {
  .techs__container {
    padding: 90px 50px 90px 50px;
    margin: 0;
  }

  .techs__title {
    padding: 80px 0 0 0;
  }

  .techs__subtitle {
    max-width: 460px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
    margin: 0 auto 0 auto;
    padding: 22px 0 0 0;
  }

  .techs__list {
    padding: 83px 0 0 0;
  }

  .techs__list-item {
    min-width: 84px;
    min-height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 700px) {
  .techs__container {
    background: #202020;
    padding: 70px 18px 70px 18px;
    margin: 0;
  }

  .techs__title {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
    padding: 60px 0 0 0;
  }

  .techs__subtitle {
    max-width: 292px;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.44px;
    padding: 24px 0 0 0;
  }

  .techs__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 50px 0 0 0;
  }
  
  .techs__title-color {
    border-bottom: 1px solid black;
  }
}
