.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.checkbox__input {
  width: 36px;
  height: 20px;
  position: relative;
  border-radius: 20px;
  background-color: #343434;
  cursor: pointer;
  appearance: none;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.checkbox__input::after {
  content: '';
  position: absolute;
  right: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  transform: translateX(calc(50% - 20px));
  border-radius: 50%;
  background-color: #a0a0a0;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.checkbox__input:checked::after {
  transform: translateX(0);
  background-color: #fff;
}

.checkbox__input:checked {
  background: #3ddc84;
}
