.movies-card {
  background: #222;
  width: 364px;
  height: 271px;
  width: 100%;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

.movies-card__container-top {
  padding: 14px;
  display: flex;
  gap: 26px;
  align-items: center;
  justify-content: space-between
}

.movies-card__title {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0 0 9px 0;
}

.movies-card__duration {
  color: #8B8B8B;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.movies-card__save-button {
  width: 30px;
  height: 30px;
  background: #313131;
  background-image: url('../../../images/save.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: opacity .3s linear;
}

.movies-card__save-button:hover {
  opacity: .8;
}

.movies-card__save-button_active {
  width: 30px;
  height: 30px;
  background: #3ddc84;
  background-image: url('../../../images/save-active.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: opacity .3s linear;
}

.movies-card__save-button_active:hover {
  opacity: 0.8;
}

.movies-card__image {
  width: 100%;
  height: 203px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 900px) {
  .movies-card {
    width: 339px;
    height: 258px;
  }

  .movies-card__image {
    height: 190px;
  }
}

@media screen and (max-width: 450px) {
 .movies-card {
    width: 300px;
    height: 236px;
  }
}
